# Sensitive Data
.env

# Docker & System
.docker-compose.override.yml
docker-compose.override.yml
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db